.container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.wrapper{
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    transform: translateX(${(props) => props.slideIndex * -100}vw);
}